*{
    padding: 0%;
    margin: 0%;
}
nav{
    
        background-color: aquamarine;
        color: black;
        padding:0 12px;
        display: flex; 
         align-items: center;  
}
nav h1{
    font-size: 50px;
    color: rgb(160, 115, 115);
}

/* .clock{
    width: 30%;
    height: 30%;
    padding: 30px;
    margin-top: 20px;
    display: flex;
    margin: 0px auto;
} */
#hands{
    padding: 5px;
    top: 20px;
    position: relative;
    margin: auto;
    background: color 2px solid red;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
     background-size: 100%
}

#hour,#minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
      width: 1.8%;
      height: 32%;
      top: 19%;
      left: 49.5%;
      /* display: none; */
}
#minute{
    width: 0.7%;
    height: 35%;
    top: 15%;
    left: 49.5%;
    opacity: 0.8;
    /* display: none; */
}
#second{
    width: 0.6%;
    height: 37%;
    top: 13%;
    left: 49.5%;
    opacity: 0.8;
    /* display: none; */

}

/* .seconds1{
    border: 2px solid rgb(0, 0, 0);
    
    height: 100px;
    width: 1px;
    /* position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; */
    /* margin: 0px auto;
    display: flex; */

/* } */ 
